.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 900px;
  margin: auto;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
}

input {
  font-size: 16px;
  padding: 0 12px;
  border: 1px solid var(--input-border);
  border-radius: 8px;
  height: 40px;
  width: 40%;
  min-width: 200px;
  max-width: 300px;
}

button {
  padding: 10px 12px;
  background-color: var(--button-bg);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Card grid */
.card-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Ensures up to 3 per row */
  gap: 35px;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 0;
}

/* Fixed size for all cards */
.card-list li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 200px; /* Fixed square size */

  border: 1px solid var(--input-border);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--card-bg);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.card-list li:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .card-list {
    grid-template-columns: repeat(2, 200px); /* Ensures 2 cards per row */
    justify-content: center; /* Center the row */
    column-gap: 80px;
  }
}

@media (max-width: 480px) {
  .card-list {
    grid-template-columns: repeat(1, 200px); /* 1 card per row */
    justify-content: center; /* Center cards */
  }
}

/* Card header */
.card-header {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

/* Temperature display */
.current-temp {
  font-size: 48px;
  font-weight: bold;
  color: var(--text-color);
}

.max-min {
  font-size: 14px;
  color: var(--text-muted);
}

.delete-button {
  margin-top: 24px;
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}
