:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #121212;
    --text-color: #ffffff;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  min-height: 50px; /* Ensures they don’t collapse */
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: var(--bgg-color);
}

.content {
  flex-grow: 1; /* Takes up remaining space */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer {
  min-height: 50px; /* Ensures they don’t collapse */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgg-color);
  margin: 8px;
}

.links {
  align-items: center;
  display: flex;
  justify-content: center;
}

.links a {
  margin: 0 12px;
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

.nav-link {
  text-decoration: none;
  font-weight: bold;
  color: var(--text-color);
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007bff;
}
